<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading first">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Rates and Tools
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <ul>
              <li><a href="/signup">New Broker Sign Up</a></li>
              <li><a href="/rates">View Rates</a></li>
              <li><a href="/guides">View Guides</a></li>
              <li><a href="/loan-submissions">Loan Submission</a></li>
              <li><a href="/appraisals">Order Appraisal</a></li>
          </ul>
      </div>
    </div>
      
  </div>
      <div class="accordion-group">
    <div class="accordion-heading">
      <a class="collapsed" href="/licensed-states">
        Licensed States
      </a>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading last">
      <a class="collapsed" href="/wholesale">
        Bulletins
      </a>
    </div>
  </div>
</div>