<div id="footer">
    <script type="text/javascript" src="//use.typekit.net/qtn0zmz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <div id="ftop_hldr">
        <div id="ftop" class="container">
            <div class="pull-left"><p><strong>BMB NMLS:</strong> #403379 &ensp;<strong>AMC NMLS:</strong> #486307</p></div>
            <div class="pull-right"><img src="{site_url}img/footer_lender_amc.jpg" alt="Equal Housing Lender" width="160" height="25"> </div>
        </div>
    </div>

    <div id="fbottom_hldr">
        <div id="fbottom" class="container">
            <div class="pull-left">
                <p>&copy; Benchmark Bank&emsp;&emsp;<a href="http://www.affiliatedcorrespondent.com/wc/content/correspondentdocuments/Privacy_Notice.pdf">Privacy Notice</a>&emsp;&emsp;</p>
            </div>
            <div class="pull-right">

            </div>
        </div>
    </div>

</div><!-- /#footer -->