<div id="top_header" class="container">

    <div class="pull-left">
        <p>a home loan division of benchmark bank • <b>866.496.7911</b></p>
    </div>

    <div class="pull-right hide">
        <ul>
            <li><a href="https://www.benchmarkbank.com/" target="_blank">Bank</a></li>
            <li><a href="http://www.affiliatedmortgage.com" target="_blank">Mortgage</a></li>
            <li><a href="https://www.benchmarkbank.com/personal_banking" target="_blank">HSA</a></li>
            <li><a href="http://www.benchmarktitleservices.com/" target="_blank">Title</a></li>
            <li><a href="http://www.affiliatedcorrespondent.com/"  class="active">AMC</a></li>
        </ul>
    </div>
</div><!-- /#top_header -->
		<div id="header" class="navbar">
		  <div class="navbar-inner">
		  	<div class="container">
			    <a class="brand" href="http://www.affiliatedmortgage.com">
			    	<img src="{site_url}img/header-logo.png" alt="Affiliate Mortgage Company" width="343" height="104">
			    </a>
                            <ul class="nav pull-right">

			      <li class="dropdown">
	            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Loan Center <b class="caret"></b></a>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter.aspx">Overview</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-prequalify.aspx">Pre-Qualify</a></li>
	              <li><a tabindex="-1" href="#">Apply Now</a></li>
	              <li class="dropdown-submenu pull-left">
	                <a tabindex="-1" href="#">Calculators</a>
	                <ul class="dropdown-menu">
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-default.aspx">Overview</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-monpmt.aspx">Monthly Payment</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-amort.aspx">Payment Schedule</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-extrapmt.aspx">Extra Payment</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-howmuch.aspx">How Much Can I Afford</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-prequalify.aspx">How Much Can I Borrow</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-rentvsown.aspx">Rent vs. Own</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-fixedvsarm.aspx">Fixed Rate vs. ARM</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-yeartoyear.aspx">15-Year vs. 30-Year Mortgage</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-interestsaving.aspx">Refinance Interest Saving</a></li>
	                  <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/loancenter-calculators-interestonly.aspx">Interest Only</a></li>
	                </ul>
	              </li>
	              <li class="dropdown-submenu pull-left">
	                <a tabindex="-1" href="#">My Account</a>
	                <ul class="dropdown-menu">
	                  <li><a tabindex="-1" href="#">Overview</a></li>
	                  <li><a tabindex="-1" href="#">Profile</a></li>
	                  <li><a tabindex="-1" href="#">Loan Process</a></li>
	                </ul>
	              </li>
	              <li><a tabindex="-1" href="#">Contact Us</a></li>
	            </ul>
	          </li>

			      <li><a href="http://benchmarkbank.lendingstation.com/products.aspx">Products</a></li>
			      <li class="dropdown">
	            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Branches <b class="caret"></b></a>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=24">Austin, TX</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=24">Dallas, TX</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=21">Houston, TX</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=27">Plano, TX</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=26">San Antonio, TX</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=187">Augusta, GA</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/custompage-view.aspx?id=275">Columbus, OH</a></li>
	            </ul>
			      </li>
			      <li><a href="http://benchmarkbank.lendingstation.com/faq.aspx">FAQ</a></li>
			      <li class="dropdown">
	            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/resources.aspx">Links</a></li>
	              <li><a tabindex="-1" href="http://benchmarkbank.lendingstation.com/resources-forms.aspx">Forms</a></li>
	            </ul>
			      </li>
		    </ul>
		  	</div><!-- /.container -->
		  </div>
		</div><!-- /navbar -->
                
                    <div id="hero">
    	<img src="{site_url}img/hero_amc.jpg" alt="hero_amc" width="1020" height="342">
    </div><!-- /#hero -->