<div id="top_header" class="container">

    <div class="pull-left">
        <p>a home loan division of benchmark bank • <b>866.496.7911</b></p>
    </div>

    <div class="pull-right">
        <ul>
            <li><a href="https://www.benchmarkbank.com/" target="_blank">Bank</a></li>
            <li><a href="http://www.affiliatedmortgage.com" target="_blank">Mortgage</a></li>
            <li><a href="https://www.benchmarkbank.com/personal_banking" target="_blank">HSA</a></li>
            <li><a href="http://www.benchmarktitleservices.com/" target="_blank">Title</a></li>
            <li><a href="http://www.affiliatedcorrespondent.com/"  class="active">AMC</a></li>
        </ul>
    </div>
</div><!-- /#top_header -->
<div id="header" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://www.affiliatedmortgage.com">
                <img src="{site_url}img/header-logo.png" alt="Affiliate Mortgage Company" width="343" height="104">
            </a>
            <ul class="nav pull-right">

                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">COMPANY / <br/>Contact INFO</a>
                </li>

                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li><a tabindex="-1" href="#">PRODUCT LISTING</a></li>
                        <li><a tabindex="-1" href="#">OVERLAYS</a></li>
                    </ul>
                </li>
                                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">WAREHOUSE PROGRAM</a>
                </li>
                                                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">FAQ</a>
                </li>
                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">RESOURCES</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li><a tabindex="-1" href="#">FORMS</a></li>
                        <li><a tabindex="-1" href="#">TEXAS VETERANS LAND BOARD</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.container -->
    </div>
</div><!-- /navbar -->

<div id="hero">
    <img src="{site_url}img/hero_amc.jpg" alt="hero_amc" width="1020" height="342">
</div><!-- /#hero -->