<!DOCTYPE HTML>
<html>
    <head>
        {embed="main/document_head"}
    </head>
    <body>
        <header>
            {embed="main/header"}
        </header>
        <div id="main" class="container">
                <div id="mleft" class="amc">

        <div class="body">
            {embed="main/accordion_left"}
        </div>
    </div><!-- /mleft -->
        <div id="mright">
        <div class="body">
        {embed="main/page_content"}
        </div>
        </div>
        </div>
        {embed="main/footer"}
    </body>
</html>