{exp:channel:entries channel="content" limit="10"}
<div id="main" class="container">

    <div id="mleft" class="amc">

        <div class="body">

            
            <ul>
    			<li class="first"><a href="#">Rates and Tools</a></li>
    			<li><a href="#">Licensed States</a></li>
    			<li class="last"><a href="#">Bulletins</a></li>
    		</ul>
        </div>

    </div><!-- /mleft -->

    <div id="mright">
        <div class="body">
            <h1>{page_h2}</h1>
            <p>{page_body}</p>
        </div>
    </div><!-- /mright -->

</div><!-- /#main -->
{/exp:channel:entries}