{if segment_1 == ""}






  
            {exp:channel:entries entry_id="7"}
            <h1><em>{page_h1}</em></h1>
            <h2>{page_h2}</h2>
            <p>{page_body}</p>
            {/exp:channel:entries}
   


{if:elseif segment_1 == "loan-submissions"}
            {exp:channel:entries channel="content" limit="1"}
            <h1><em>{page_h1}</em></h1>
            <h2>{page_h2}</h2>
            
            {/exp:channel:entries}

        {exp:file:entries dynamic="no" directory_id="4" orderby="date"}
        
        <a href="{file_url}">{title}</a>
        {/exp:file:entries}


{if:else}



























{/if}